<div class="window">

  <div class="smNav">
    <form class="form-inline my-2 my-lg-0" style="margin-left: -50px">
      <label style="font-size: 18px; color: black;">&nbsp;&nbsp;&nbsp;Typ pokoju:&nbsp;</label>
      <select class="form-control" (change)="onSelect($event.target.value)">
        <!-- <option selected>Wszystkie</option> -->
        <option *ngFor="let item of typeList" >{{item}}</option>
      </select>
      &nbsp;&nbsp;
        <label style="font-size: 18px; color: black;">&nbsp;&nbsp;&nbsp;Data przyjazdu:&nbsp;</label>
        <input type="date" class="form-control" placeholder="arrival" aria-label="arrival" aria-describedby="basic-addon1" (change)="onDateA($event.target.value)" [(ngModel)]="arrival">
      &nbsp;&nbsp;
        <label style="font-size: 18px; color: black;">&nbsp;&nbsp;&nbsp;Data odjazdu:&nbsp;</label>
        <input type="date" class="form-control" placeholder="departure" aria-label="departure" aria-describedby="basic-addon1" (change)="onDateD($event.target.value)" [(ngModel)]="departure">
      &nbsp;
      &nbsp;<button type="button" class="btn btn-info btn-xs" (click)="checkAvail(arrival, departure)">Sprawdź dostępność</button>
    </form>
  </div>
  <br><br>

  <div *ngFor="let room of roomsOnPage">
    <div class="box">
      <a class="title">Pokój {{room.id_room}}</a><br>
      <a class="type">({{room.type}})</a><br>
      <a class="desc">{{room.long_description}}</a>
      <br><br>
      <a class="price">Cena za dzień: {{room.price}} zł</a>
      <br><br>
    </div>
    <br>
  </div>

  <div *ngIf="noAvaRooms">
      <br><br><br>
      <label for="" style="margin-left: -35%; font-size: 27px;">Brak dostępnych pokoi.</label>
    </div>
  <label style="font-size: 25px;  margin-left: -25%;" > {{msg}}</label>
</div>
