.window {
  text-align: center;
  margin-top: 3%;
  margin-left: 25%;
  margin-bottom: 3%;
}

.box {
  border: 2px outset rgba(231, 231, 231, 0.627);
  background-color: rgba(231, 231, 231, 0.627);
  width: 50vw;
  height: 20%;
  padding: 10px;
  border-radius: 5px;

}

.title {
  font-weight: bold;
  color: grey;
  font-size: 26px;
}

.titleAn{
  font-weight: bold;
  color: rgb(212, 99, 99) !important;
  font-size: 26px;
}

.text2 {
  color: blue !important;
  cursor: pointer;
  text-decoration: underline !important;
}

.data {
  /* font-weight: bold; */
  font-size: 20px;
}

.desc {
  font-size: 16px;
}

.noPay {
  font-size: 18px;
  color: rgb(96, 11, 11) !important;
}

.nrRes{
  color: rgb(186, 186, 186);
  font-size: 12px;
}
