<div class="window">
  <div *ngFor="let r of reservationShow">
    <div class="box">
      <a class="title" *ngIf="r.cancelationDate===null">Rezerwacja
        <a class="nrRes">{{r.reservationId}}</a>
      </a>
      <br>
      <a class="titleAn" *ngIf="r.cancelationDate!==null">Anulowana rezerwacja
        <a class="nrRes">{{r.reservationId}}</a>
      </a>
      <br>
      <a class="data">{{r.arrival}} - {{r.departure}}</a>
      <br>
      <br>
      <a class="desc" *ngIf="r.paymentDate!==null">Dzień zapłacenia: {{r.paymentDate}}
        <br>
      </a>
      <a class="noPay" *ngIf="r.paymentDate===null && r.cancelationDate===null">Rezerwacja nie jest opłacona!
        <br> Koszt rezerwacji - {{r.payment}}zł &nbsp;&nbsp;&nbsp;
        <a class="text2">przejdź do strony płatności</a>
        <br>
      </a>
      <a class="desc" *ngIf="r.cancelationDate!==null">Anulowano w dniu: {{r.cancelationDate}}
        <br>
      </a>
      <br>
      <!-- <a class="desc">{{r}}</a> -->
      <br>
      <button type="button" class="btn btn-danger btn-xs" (click)="cancelPop(r)" *ngIf="r.cancelationDate===null" data-toggle="modal"
        data-target="#exampleModal">Anuluj</button>
    </div>
    <br>
    <br>
  </div>

</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Anulowanie rezerwacji</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Czy napewno chcesz anulować tą rezerwację?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Nie</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="cancel()">Tak</button>
      </div>
    </div>
  </div>
</div>
