<div class="window">
  <div class="text">Rejestracja <i class="fa fa-user"></i></div>
  <div class="txtHl">Dane osobowe</div>
  <hr>
  <br>

  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Imię*" aria-label="firstName" aria-describedby="basic-addon1"
      [(ngModel)]="firstName">
  </div>
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Nazwisko*" aria-label="lastName" aria-describedby="basic-addon1"
      [(ngModel)]="lastName">
  </div>
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Numer dowodu/paszportu*" aria-label="identification_card"
      aria-describedby="basic-addon1" [(ngModel)]="card">
  </div>
  <div class="input-group mb-3">
    <input type="tel" class="form-control" placeholder="Numer telefonu" aria-label="phone" aria-describedby="basic-addon1"
      [(ngModel)]="tel">
  </div>
  <div class="input-group mb-3">
    <input type="email" class="form-control" placeholder="Email*" aria-label="email" aria-describedby="basic-addon1"
      [(ngModel)]="email">
  </div>
  <div class="input-group mb-3">
    <input type="password" class="form-control" placeholder="Hasło*" aria-label="password" aria-describedby="basic-addon1"
      [(ngModel)]="password">
  </div>

  <br><br>
  <div class="txtHl">Adres</div>
  <hr>
  <br>

  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Ulica*" aria-label="street" aria-describedby="basic-addon1"
      [(ngModel)]="street">
  </div>
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Numer domu*" aria-label="houseNr" aria-describedby="basic-addon1"
      [(ngModel)]="hnr">
  </div>
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Numer mieszkania" aria-label="apartamentNr" aria-describedby="basic-addon1"
      [(ngModel)]="anr">
  </div>
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Miasto*" aria-label="city" aria-describedby="basic-addon1"
      [(ngModel)]="city">
  </div>
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Kod pocztowy*" aria-label="postalCode" aria-describedby="basic-addon1"
      [(ngModel)]="posCode">
  </div>

  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Kraj*" aria-label="county" aria-describedby="basic-addon1"
      [(ngModel)]="coun">
  </div>

  <br><br>

  <input type="checkbox"  [(ngModel)]="rodo"> <label style="color: grey">&nbsp;&nbsp;Wyrażam zgodę na przechowywanie <br>moich danych
    osobowych <a style="cursor: pointer; color: lightblue" data-toggle="modal" data-target="#exampleModalLong">więcej</a></label>
  <br><br>
  <input type="checkbox" [(ngModel)]="cookie"> <label style="color: grey">&nbsp;&nbsp;Akceptuję politykę cookies <a style="cursor: pointer; color: lightblue"
      data-toggle="modal" data-target="#exampleModalLongCookies">więcej</a></label>
  <br><br>
  <label style="color: red; font-size: 18px">{{msg}}</label>
  <br><br>

  <button type="button" class="btn btn-primary btn-xs btn-block" (click)="addObject( firstName, lastName, card, tel, email, password, street, hnr, anr, city, posCode, coun, rodo, cookie)"
   >Zarejestruj</button>
  <br><br>
  <label>* - pole obowiązkowe</label>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body" style="text-align: center; color: green;">
        Zarejestrowano poprawnie!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="closeModel()">Close</button>
      </div>
    </div>
  </div>
</div>


<!-- Rodo -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Klauzula RODO</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        Administratorem Twoich danych jest Hotel Królewski z siedzibą we Wrocławiu,
        wpisanej do Centralnej Ewidencji i Informacji o Działalności Gospodarczej,
        pod numerem NIP: 123-456-78-90, REGON: dolnośląski. W sprawach związanych z
        przetwarzaniem i ochroną danych osobowych wyznaczony został punkt kontaktowy
        w postaci adresu e-mail: hotelkrolewski@o2.pl Kontakt we wskazanych sprawach
        możliwy jest także w postaci tradycyjnej korespondencji na adres
        administratora z dopiskiem: „Ochrona Danych Osobowych” oraz osobiście pod
        adresem ul. Królewska 1, Wrocław.

        Podane przez Ciebie dane osobowe będą przetwarzane w następujących celach:
        – wykonania umowy kupna-sprzedaży bądź usługi – przetwarzanie jest niezbędne
        do wykonania umowy, aż do czasu zakończenia umowy,
        – marketingu bezpośredniego – do czasu zakończenia umowy lub złożenia sprzeciwu,
        – finansowo-księgowych – przetwarzanie jest niezbędne do wykonania przepisów
        prawa podatkowego,
        – obrony przed roszczeniami i dochodzenia roszczeń – do czasu wygaśnięcia okresu
        roszczeń zgodnie z przepisami Kodeksu Cywilnego,
        – prowadzenia procesów reklamacyjnych.

        Posiadasz prawo dostępu do treści swoich danych oraz prawo ich sprostowania,
        usunięcia, ograniczenia przetwarzania, prawo do przenoszenia danych, prawo
        wniesienia sprzeciwu (np. jeśli dane są przetwarzane na podstawie Twojej zgody
        lub w celach marketingowych czy udostępniania Twoich danych); posiadasz prawo
        do cofnięcia zgody w dowolnym momencie. W celu cofnięcia zgody możesz
        skontaktować się z punktem obsługi klienta w naszej siedzibie bądź biurze
        ul. Królewska 1, Wrocław lub wysyłając wiadomość e-mail na adres: adres@o2.pl.
        Masz również prawo wniesienia skargi do organu nadzorczego – Prezesa
        Urzędu Ochrony Danych Osobowych.

        Podanie przez Ciebie danych osobowych jest w pełni dobrowolne. Niepodanie danych
        osobowych będzie skutkowało niemożliwością pełnego wykonania zobowiązań,
        przyjętych przez [nazwa firmy] w ramach zawieranych z Tobą umów.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="exampleModalLongCookies" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Pliki cookies</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Informujemy, iż w celu optymalizacji treści dostępnych w naszym serwisie,
        dostosowania ich do Państwa indywidualnych potrzeb korzystamy z informacji
        zapisanych za pomocą plików cookies na urządzeniach końcowych użytkowników.
        Pliki cookies użytkownik może kontrolować za pomocą ustawień swojej
        przeglądarki internetowej. Dalsze korzystanie z naszego serwisu internetowego,
        bez zmiany ustawień przeglądarki internetowej oznacza, iż użytkownik akceptuje
        stosowanie plików cookies. Czytaj więcej Polityka prywatności Informację
        cookies strony internetowej zapewnia mazwal.pl
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
