.window {
  text-align: center;
  margin-top: 5%;
  margin-left: 35%;
  margin-right: 35%;
}

.spaceReg {
  padding-bottom: 60px;
}

.text {
  text-align: center;
  font-size: 25px;
  color: grey;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom:7%;
}

label {
  color: gray;
}

.txtHl {
  color: lightgray;
}
