.window {
  text-align: center;
  margin-top: 5%;
  margin-left: 35%;
  margin-right: 35%;
}

.spaceReg {
  padding-bottom: 60px;
}

.text {
  text-align: center;
  font-size: 25px;
  color: grey;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom:7%;
}

.payCSS {
  font-size: 30px;
  font-weight: bold;
}

.rece {
  color: blue !important;
  cursor: pointer;
  text-decoration: underline !important;
}

.textBan {
  font-size: 25px !important;
}

.goRoom {
  cursor: pointer;
  color: lightgrey !important;
}

.goRoom:hover {
  color: blue !important;
}
