<div class="window">
  <div *ngIf="showAdd">
    <div class="text">+ Rezerwacja</div>
    <div class="input-group mb-3">
      Pokój nr: &nbsp;
      <select class="custom-select" id="inputGroupSelect01" [(ngModel)]="roomNr">
        <option *ngFor="let item of rooms">{{item.id_room}}</option>
      </select>&nbsp;&nbsp;&nbsp; <a class="goRoom" (click)="goToRooms()">Przeglądaj</a>
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Od</span>
      </div>
      <input type="date" class="form-control" placeholder="Data przyjazdu" aria-label="surname" aria-describedby="basic-addon1"
        [(ngModel)]="arrival">
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Do</span>
      </div>
      <input type="date" class="form-control" placeholder="Data wyjazdu" aria-label="surname" aria-describedby="basic-addon1"
        [(ngModel)]="departure">
    </div>
    <label style="color: red; font-size: 20px;" > {{msg}}</label>
    <br><br>
    <button type="button" class="btn btn-primary btn-xs btn-block" (click)="createReservation(arrival, departure, roomNr)">Rezerwuj</button>

  </div>

  <div *ngIf="payShow" class="payCSS">
    <label *ngIf="pay === 'Pokoj jest zajety w tym terminie'">Rezerwacja nie powiodła się! <br> Pokój jest zajęty w tym terminie</label>
    <label for="basic-url" *ngIf="pay !== 'Pokoj jest zajety w tym terminie'">Zarezerwowano <br>
      Do zapłacenia - {{pay}}zł <br>
      <a style="font-size: 12px; color: grey;">
        rezerwacja zostanie automatycznie anulowana jeżeli
        nie zostanie zapłacona do 3 dni przed datą przyjazdu.</a>
      <br> <br>

      <button type="button" class="btn btn-info btn-xs btn-block">Przejdź do banku</button> <br>
      <a class="textBan">lub <br>
      skontaktuj się z naszą recepcją <a class="rece">+48 754 320 456</a>.</a>
    </label>
    <!-- <label>Do zapłacenia </label> -->
  </div>
</div>
