<div class="window">
  <div *ngIf="userBox">
    <label for="" class="text"><i class="fa fa-address-book-o"></i> Twoje dane</label><br>
    <label class="txtLbl">Dane osobiste</label>
    <!-- <hr> -->
    <hr>
    <br>
    <label for="">Imię i nazwisko: {{user.firstName}} {{user.lastName}}</label><br>
    <label for="">Numer dowodu: {{user.identyficationCard}}</label><br>
    <label for="">Numer telefonu: {{user.phone}}</label><br>
    <label for="">Email: {{user.email}}</label><br>
    <!-- <label for="">Haslo: {{user.password}}</label><br> -->
    <br><br><br>
    <label class="txtLbl">Adres</label> <br>
    <hr>
    <label for="">Ulica: {{user.address.street}}</label><br>
    <label for="">Numer domu: {{user.address.houseNr}}</label><br>
    <label for="">Numer mieszkania: {{user.address.apartamentNr}}</label><br>
    <label for="">Miasto: {{user.address.city}}</label><br>
    <label for="">Kod pocztowy: {{user.address.postalCode}}</label><br>
    <label for="">Kraj: {{user.address.country}}</label><br>
    <br><br>


    <div class="btn-group">
      <button type="button" class="btn btn-info btn-xs" (click)="editUser(user.firstName, user.lastName, user.identyficationCard,user.phone,user.email,user.password,user.address.street,user.address.houseNr, user.address.apartamentNr, user.address.city, user.address.postalCode, user.address.country) ">Edytuj</button>&nbsp;
      <button type="button" class="btn btn-info btn-xs" (click)="editPass(user.email)">Zmień hasło</button> &nbsp;
      <button type="button" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#exampleModalDel">Usuń konto</button>

    </div>
  </div>


  <!-- EDIIIIT  -->
  <div class="editBox" *ngIf="editBox">
    <div class="text">Edytowanie danych <i class="fa fa-user"></i></div>
    <div class="txtHl">Dane osobowe</div>
    <hr>
    <br>

    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Imię*" aria-label="firstName" aria-describedby="basic-addon1" [(ngModel)]="firstName">
    </div>
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Nazwisko*" aria-label="lastName" aria-describedby="basic-addon1" [(ngModel)]="lastName">
    </div>
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Numer dowodu/paszportu*" aria-label="identification_card"
        aria-describedby="basic-addon1" [(ngModel)]="card">
    </div>
    <div class="input-group mb-3">
      <input type="tel" class="form-control" placeholder="Numer telefonu" aria-label="phone" aria-describedby="basic-addon1" [(ngModel)]="tel">
    </div>
    <div class="input-group mb-3">
      <input type="email" class="form-control" placeholder="Email*" aria-label="email" aria-describedby="basic-addon1" [(ngModel)]="email">
    </div>
    <div class="input-group mb-3">
      <input type="password" class="form-control" placeholder="Hasło*" aria-label="password" aria-describedby="basic-addon1" [(ngModel)]="password">
    </div>

    <br><br>
    <div class="txtHl">Adres</div>
    <hr>
    <br>

    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Ulica*" aria-label="street" aria-describedby="basic-addon1" [(ngModel)]="street">
    </div>
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Numer domu*" aria-label="houseNr" aria-describedby="basic-addon1" [(ngModel)]="hnr">
    </div>
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Numer mieszkania" aria-label="apartamentNr" aria-describedby="basic-addon1" [(ngModel)]="anr">
    </div>
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Miasto*" aria-label="city" aria-describedby="basic-addon1" [(ngModel)]="city">
    </div>
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Kod pocztowy*" aria-label="postalCode" aria-describedby="basic-addon1" [(ngModel)]="posCode">
    </div>

    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Kraj*" aria-label="county" aria-describedby="basic-addon1" [(ngModel)]="coun">
    </div>

    <br><br>
    <div class="btn-group">
        <button type="button" class="btn btn-secondary btn-xs" (click)="showUserBox()">Anuluj</button>&nbsp;
        <button type="button" class="btn btn-success btn-xs" (click)="editAcc(firstName, lastName, card, tel, email, password, street, hnr, anr, city, posCode, coun)" data-toggle="modal" data-target="#exampleModal">Edytuj</button>
    </div>
  </div>


  <!-- EDIIIIT  haslo-->
  <div class="editBox" *ngIf="editPasBox">
    <div class="text">Zmiana hasła  <i class="fa fa-user"></i></div>
    <br>

    <div class="input-group mb-3">
      <input type="email" class="form-control" placeholder="Email*" aria-label="email" aria-describedby="basic-addon1" [(ngModel)]="login">
    </div>
    <div class="input-group mb-3">
      <input type="password" class="form-control" placeholder=" Stare Hasło*" aria-label="password" aria-describedby="basic-addon1" [(ngModel)]="oldPass">
    </div>
    <br>
    <div class="input-group mb-3">
      <input type="password" class="form-control" placeholder="Nowe Hasło*" aria-label="password" aria-describedby="basic-addon1" [(ngModel)]="newPass">
    </div>
    <div class="input-group mb-3">
      <input type="password" class="form-control" placeholder="Powtórz nowe Hasło*" aria-label="password" aria-describedby="basic-addon1" [(ngModel)]="newPassCon">
    </div>
    <br>
    <label *ngIf="confiPass" style="color: red; font-size: 18px">Nie poprawne dane</label>
    <br>
    <br>
    <div class="btn-group">
        <button type="button" class="btn btn-secondary btn-xs" (click)="showUserBox()">Anuluj</button>&nbsp;
        <button type="button" class="btn btn-success btn-xs" (click)="changePop(login, oldPass, newPass, newPassCon)">Zmień</button>
    </div>
  </div>
</div>




<!-- data-toggle="modal" data-target="#exampleModalPass" -->

<!-- Modal Edycja danych-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edycja profilu</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Czy napewno chcesz edytować?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Nie</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="editPop()">Tak</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal usuwania danych-->
<div class="modal fade" id="exampleModalDel" tabindex="-1" role="dialog"
aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edycja profilu</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Czy napewno chcesz usunąć konto?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Nie</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="deletePop()">Tak</button>
      </div>
    </div>
  </div>
</div>

