.window {
  text-align: center;
  margin-top: 3%;
  /* margin-left: 25%; */
  margin-bottom: 3%;
}

.text {
  text-align: center;
  font-size: 25px;
  color: grey;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 7%;
}

.txtLbl {
  color: lightgray;
}

.editBox {
  text-align: center;
  margin-top: 5%;
  margin-left: 35%;
  margin-right: 35%;
}

.txtHl {
  color: lightgray;
}
