<div class="window">
  <br>
  <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect01">Typ pokoju:</label>
      </div>
      <select class="form-control" class="seleType" (change)="onSelect($event.target.value)">
          <option selected>Wszystkie</option>
          <option *ngFor="let item of typeList">{{item}}</option>
        </select>
    </div>

  <div *ngFor="let room of roomsOnPage">
    <div class="box">
      <a class="title">Pokój {{room.id_room}}</a><br>
      <a class="type">({{room.type}})</a><br>
      <a class="desc">{{room.long_description}}</a>
      <br><br>
      <a class="price">Cena za dzień: {{room.price}} zł</a>
      <br><br>
    </div>
    <br>
  </div>


  <!-- <button type="button" class="btn btn-success btn-xs" (click)="checkAvail()">Sprawdź dostępność</button> -->
  <div class="input-group date" data-provide="datepicker" *ngIf="show == true">
    <input type="text" class="form-control">
    <div class="input-group-addon">
        <span class="glyphicon glyphicon-th"></span>
    </div>
  </div>


</div>
