.window {
  text-align: center;
  margin-top: 3%;
  margin-left: 25%;
  margin-bottom: 3%;
}

.box {
  border: 2px outset rgba(231, 231, 231, 0.627);
  background-color: rgba(231, 231, 231, 0.627);
  width: 50vw;
  height: 20%;
  padding: 10px;
  border-radius: 5px;
}
.title {
  font-weight: bold;
  font-size: 23px;
}

.desc {
  font-size: 16px;
}

.type{
  font-size: 14px;
  color: gray !important;
}

.seleType {
  width: 20%;
  font-size: 18px;
}

.lblType {
  font-size: 20px;
  float: left;
}

.price {
  font-style: italic;
  font-weight: bold;
}

