.window {
  text-align: center;
  margin-top: 5%;
  margin-left: 20%;
  margin-right: 20%;
}

.spaceReg {
  padding-bottom: 60px;
}

.text {
  text-align: center;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

.textTit {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  color: rgb(127, 97, 43);
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom:7%;
}

.image {
  background: url("../../../src/assets/images/hotWid.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 160px;
}
