<div class="window">
  <i class="fa fa-star" style="color: rgb(255, 221, 2); font-size: 32px;"></i> <i class="fa fa-star" style="color: rgb(255, 221, 2); font-size: 32px;"></i> <i class="fa fa-star" style="color: rgb(255, 221, 2); font-size: 32px;"></i> <i class="fa fa-star" style="color: rgb(255, 221, 2); font-size: 32px;"></i> <i class="fa fa-star-half-full" style="color: rgb(255, 221, 2); font-size: 32px;"></i>
  <div class="textTit">Hotel Królewski</div>
</div>
<div class="image"></div>
<div class="window">
  <br><br>
<table class="table table-borderless">
    <thead>
      <tr style="font-size: 20px">
        <th scope="col">Pokoje</th>
        <th scope="col">Profesjonalne SPA</th>
        <th scope="col">Rozrywka</th>
      </tr>
    </thead>
    <tbody>
      <tr style="text-align: justify">
        <td>Nowoczesne pokoje o powierzchni 10-30 metrów
          kwadratowych. Wyposażone w WI-FI, barek, biurko
          do pracy, krzesło, 60 calowy Smart TV LCD oraz
          duże lustro. Kolorowa, funkcjonalna łazienka
          wyposażona jest w toaletę, wielką wannę oraz
          suszarkę do włosów.</td>

        <td>Młoda i profesjonalnie przygotowana kadra.
          Zaplecze SPA czyste i dobrze urządzone.
          Kosmetyki najwyższa półka, szeroki wachlarz
          usług - chyba każdy znajdzie tu coś dla siebie.
          Zabiegi wykonywane z najwyższą starannością,
          świetny nastrój - naprawdę można się zrelaksować!</td>

        <td>Udany pobyt zależy od miłego spędzenia czasu.
            W trosce o Państwa potrzeby przygotowaliśmy
            bardzo szeroki wachlarz rozrywek, zarówno na
            świeżym powietrzu jak i w samym obiekcie m.in.:
            kręgielnie, basen, pole do mini golfa,
            stoły bilardowe, siłownia.
      </tr>
      <tr>
        <td><img [src]="roomImage" style="width: 100%; height: 30%;"></td>
        <td><img [src]="spaImage" style="width: 100%; height: 30%;"></td>
        <td><img [src]="sportImage" style="width: 100%; height: 30%;"></td>
      </tr>
    </tbody>
  </table>
</div>
