<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#" [routerLink]="['home']"><i class="fa fa-home" style="font-size:24px"></i></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Pokoje
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#"  [routerLink]="['rooms']"><i class="fa fa-calendar"></i> Przeglądaj</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#" [routerLink]="['availability']"><i class="fa fa-calendar-plus-o"></i>
            Sprawdź dostępnosc</a>
        </div>
      </li>

      <li class="nav-item dropdown" *ngIf="checkToken()">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Rezerwacje
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#" [routerLink]="['reservations']"><i class="fa fa-calendar"></i> Przeglądaj</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#" [routerLink]="['addReservation']"><i class="fa fa-calendar-plus-o"></i>
            Dodaj rezerwację</a>
        </div>
      </li>
    </ul>
    <!-- right -->
    <div class='btn-toolbar pull-right'>
      <button class="btn btn-outline-light my-2 my-sm-0" type="submit" [routerLink]="['login']" *ngIf="!checkToken()"> <i class="fa fa-sign-in"></i>
        Zaloguj</button>

      <div class="btn-group" id="acc"style="width: 0vw; overflow: hidden;">
        <button class="btn btn-outline-light my-2 my-sm-0 dropdown-toggle" data-toggle="dropdown" >
          <i class="fa fa-user-circle-o" style="font-size: 20px" ></i> &nbsp;&nbsp;<a id="emailText"></a>&nbsp;&nbsp;<span class="caret"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right" role="menu">
          <li>
            <a class="dropdown-item" [routerLink]="['yourAcconut']"><i class="fa fa-address-book-o"></i> Twoje konto </a>
          </li>
          <li>
            <a class="dropdown-item" (click)="logOut()"> <i class="fa fa-sign-out"></i> Wyloguj</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
