<div class="window">
  <div class="text3">Logowanie <i class="fa fa-sign-in"></i></div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">@</span>
      </div>
      <input type="email" class="form-control" placeholder="Login" aria-label="Username" aria-describedby="basic-addon1"  [(ngModel)]="email">
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><i class="fa fa-key"></i></span>
        </div>
        <input type="password" class="form-control" placeholder="Hasło" aria-label="Password" aria-describedby="basic-addon1" [(ngModel)]="password">
    </div>
    <label style="color: red; font-size: 18px">{{msg}}</label>
    <br><br>
    <button type="button" class="btn btn-primary btn-xs btn-block" (click)="logIn(email, password)">Zaloguj</button>
    <div class="spaceReg">&nbsp;</div>
    <label class="text">Nie posiadasz konta?&nbsp;&nbsp;</label>
    <label class="text2" [routerLink]="['registration']" (click)="changeToRegistration()" >zarejestruj się</label>
</div>

