.window {
  text-align: center;
  margin-top: 5%;
  margin-left: 35%;
  margin-right: 35%;
}

.spaceReg {
  padding-bottom: 60px;
}
.text {
  text-align: center;
  font-size: 15px;
  color: grey;
  font-family: Arial, Helvetica, sans-serif;
}

.text2 {
  text-align: center;
  font-size: 15px;
  font-family:Arial, Helvetica, sans-serif;
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}

.text3 {
  text-align: center;
  font-size: 25px;
  color: grey;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom:7%;
}
